#maven specific
dist/
build/
target/
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
#eclipse specific
.project
.classpath
.settings/
#intelij specific
.idea/**/*
#java specific
*.class
#general swap/backup files
.mvn/**/*
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
